.cdm.expandable.active, .cdm.expanded
{
  max-width:900px;
  margin-left:auto;
  margin-right:auto;
  background-color: white;
  box-shadow: 1px 1px 18px rgba(0,0,0,0.1);
  margin-top:15px;
}

#headlines-wrap-inner,#headlines-frame
{
  background-color: #e6e6e6;
  box-shadow: 0px -2px 15px rgba(0,0,0,0.7);;
}
#feeds-holder, #headlines-wrap-inner .dijitSplitter, #main
{
  background-color:white;
}
.cdmContentInner img, .cdmContentInner video, .cdmIntermediate img, .cdmIntermediate video, .postContent img, .postContent video
{
    margin: auto;
    display: block;
    max-height: 550px;
    margin-bottom: 1em;
    box-shadow: 0px 0px 74px rgba(0, 0, 0, 0.04);
    border: 1px solid #e3e3e3;
}
.cdmContentInner p, .postContent p
{
    max-width:none;
}

.cdmContentInner
{
    font-size:16px;
    line-height: 1.5;
}

#headlines-frame::before
{
  display:none;
}


#toolbar
{
    border-bottom: 1px solid grey;
   box-shadow: 0px -2px 15px rgba(0,0,0,0.7);;
}

#floatingTitle
{
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 18px;
  border-color: grey;
  border-width: 2px 1px;
  border-style: solid;
}

.cdmContentInner img, .cdmContentInner video, .cdmIntermediate img, .cdmIntermediate video, .postContent img, .postContent video
{
    margin: auto;
    display: block;
}

.cdmContent img {
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    border: 1px solid lightgray;
    margin: 1em auto;
}
.cdmContentInner p, .postContent p
{
    max-width:none;
}

.cdm.expandable.active .title, .cdm.expanded .title {
    font-size: 32px;
    line-height: 1;
}



.claro .dijitButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, .claro .dijitDropDownButton .dijitButtonNode, .claro .dijitToggleButton .dijitButtonNode {
    padding:8px;
}

.claro .dijitContentPane {
    padding: 8px;
    border-top: 1px solid lightgray;
}


